<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>expressmovie</title>
  </head>
  <body>
    <header><%- include('./partials/header.ejs'); %></header>

    <h1>Soyez les bienvenus au site IDIR Nabil (developpeur web)</h1>
    <div>
      <p>Liste de films</p>
      <p>rien pour le momment.</p>
      <p>
        <img src="../public/img/nabil.jpg" alt="pas d'image" width="150px" />
      </p>
    </div>

    <footer><%- include('./partials/footer.ejs'); %></footer>
  </body>
</html>
