<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>expressmovie</title>
  </head>
  <body>
    <header><%- include('../partials/header.ejs'); %></header>

    <h1>Détails du film <%= idFilm %></h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        molestiae eaque commodi. Est vitae porro eligendi reiciendis a,
        voluptates harum iste provident. Deleniti, reprehenderit ducimus
        laboriosam fugit ad excepturi nesciunt commodi necessitatibus sit magnam
        neque nisi placeat suscipit molestias vitae tenetur doloribus similique,
        reiciendis, unde culpa? Quibusdam doloremque maiores reiciendis itaque
        suscipit corrupti voluptatem esse id soluta inventore quos quae, hic
        nihil quaerat. Nobis voluptatibus quia, officia perferendis sapiente
        blanditiis assumenda illo qui a temporibus! Suscipit ad assumenda at id
        earum provident quia, ratione molestiae! Id expedita nulla, voluptatibus
        mollitia quas et officia maxime vel voluptatem sequi fugiat sit tempora?
      </p>
    </div>

    <footer><%- include('../partials/footer.ejs'); %></footer>
  </body>
</html>
